/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Dosis:wght@200;300;400;500;600;700;800&family=Great+Vibes&family=Mooli&family=Pinyon+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rouge+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(225, 225, 225);
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgb(200, 200, 200);
    padding: 10px 20px;
    box-shadow: 0 0 10px rgb(25, 25, 25);
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 20px;
    font-weight: 600;
}

header h1 a {
    color: rgb(75, 75, 75);
}

header i {
    color: black;
    font-size: 22px;
    padding: 3px 5px;
    border: 3px solid transparent;
    border-radius: 3px;
}

header i:hover {
    border: 3px solid rgb(150, 150, 150);
    transition: all 0.25s ease-out;
}

@keyframes kedip-online {
    0% {
        background-color: rgb(75, 75, 75);
    }

    50% {
        background-color: rgb(0, 222, 0);
    }

    100% {
        background-color: rgb(75, 75, 75);
    }
}

header span {
    width: 10px;
    height: 10px;
    background-color: rgb(75, 75, 75);
    margin-right: 10px;
    border-radius: 50%;
    animation: kedip-online 1.5s infinite;
    animation-timing-function: steps(1);
}

.navbar {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgb(180, 180, 180);
    padding: 15px;
    border-left: 3px solid rgb(160, 160, 160);
    overflow-y: auto;
    transform: translateX(100%);
    transition: all 0.25s ease-out;
}

.navbar-active {
    transform: translateX(0);
    transition: all 0.25s ease-out;
}

.navbar i {
    color: black;
    background-color: rgb(200, 200, 200);
    font-size: 22px;
    padding: 5px;
    border: 1.5px solid rgb(160, 160, 160);
    border-radius: 5px;
}

.navbar i:hover {
    border: 1.5px solid black;
    transition: all 0.25s ease-out;
}

.navbar h1 {
    color: black;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(160, 160, 160);
}

.navbar a {
    display: block;
    width: max-content;
    color: rgb(25, 25, 25);
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

.navbar a:hover {
    color: rgb(75, 75, 75);
    transform: scale(1.05);
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateX(-25px);
    opacity: 0;
}

.content-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 1s ease-out;
}

.content a {
    width: max-content;
    display: block;
    color: rgb(75, 75, 75);
    background-color: rgb(175, 175, 175);
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
}

.content a:hover {
    background-color: rgb(185, 185, 185);
    transition: all 0.25s ease-out;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(200, 200, 200);
    padding: 10px 0;
}

footer p {
    color: rgb(88, 88, 88);
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

/* Slider */
.slider-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.slider-container .info {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.slider-container .info h1 {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.slider-container .info p {
    width: 50%;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-out;
    width: 300%;
}

.slide {
    width: 100%;
    flex: 0 0 auto;
}

.slide img {
    width: 33.33333%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    padding-top: 7px;
    border: none;
    border-radius: 25px;
    z-index: 9;
}

.prev-btn {
    left: 5%;
}

.next-btn {
    right: 5%;
}

/* Homepage First */
header .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HTML Form */
.html-form {
    margin: 75px 0;
    margin-left: 10px;
    font-size: 15px;
}

.html-form input,
.html-form select,
.html-form textarea {
    padding: 7px;
}

.html-form #daftar {
    margin-right: 10px;
}

/* JavaScript Dasar */
.javascript-dasar {
    margin: 75px 0;
    margin-left: 10px;
    font-size: 15px;
}

.javascript-dasar h1 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.javascript-dasar h2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
}