* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(225, 225, 225);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(200, 200, 200);
    padding: 10px 25px;
    box-shadow: 0 0 10px rgb(25, 25, 25);
}

header h1 {
    color: rgb(75, 75, 75);
    font-size: 25px;
    font-weight: 600;
}

@keyframes kedip-online {
    0% {
        background-color: rgb(75, 75, 75);
    }

    50% {
        background-color: rgb(0, 222, 0);
    }

    100% {
        background-color: rgb(75, 75, 75);
    }
}

header span {
    width: 10px;
    height: 10px;
    background-color: rgb(75, 75, 75);
    border-radius: 50%;
    animation: kedip-online 1.5s infinite;
    animation-timing-function: steps(1);
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-25px);
    opacity: 0;
}

.content-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 1s ease-out;
}

.content a {
    width: max-content;
    display: block;
    color: rgb(75, 75, 75);
    background-color: rgb(175, 175, 175);
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
}

.content a:hover {
    background-color: rgb(185, 185, 185);
    transition: all 0.25s ease-out;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 10px;
}

footer p {
    color: rgb(100, 100, 100);
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}