/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Dosis:wght@200;300;400;500;600;700;800&family=Great+Vibes&family=Mooli&family=Pinyon+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rouge+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(225, 225, 225);
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgb(200, 200, 200);
    padding: 10px 20px;
    box-shadow: 0 0 10px rgb(25, 25, 25);
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    border: 2.5px solid rgb(150, 150, 150);
    border-radius: 50%;
}

header h1 {
    font-size: 18px;
    font-weight: 600;
}

header h1 a {
    color: rgb(75, 75, 75);
}

header i {
    color: black;
    background-color: transparent;
    font-size: 22px;
    padding: 6px 8px;
    border-radius: 5px;
}

header i:hover {
    background-color: rgb(185, 185, 185);
    transition: all 0.25s ease-out;
}

.navbar {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgb(200, 200, 200);
    border-top-left-radius: 10px;
    overflow-y: auto;
    transform: translateX(100%);
    transition: all 0.15s ease-out;
}

.navbar-active {
    transform: translateX(0);
    transition: all 0.15s ease-out;
}

.navbar .navbar-header {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(180, 180, 180);
    padding: 10px;
}

.navbar .navbar-profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar .navbar-profile img {
    width: 30px;
    height: 30px;
    margin-right: 7px;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 50%;
}

.navbar .navbar-profile h1 {
    color: rgb(75, 75, 75);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar .navbar-header i#close {
    color: black;
    background-color: rgb(200, 200, 200);
    font-size: 22px;
    padding: 5px 7px;
    margin-right: 10px;
    border-radius: 5px;
}

.navbar .navbar-header i#close:hover {
    background-color: rgb(220, 220, 220);
    transition: all 0.25s ease-out;
}

.navbar .navbar-content {
    padding: 15px;
}

.navbar .navbar-content h2 {
    color: rgb(50, 50, 50);
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(180, 180, 180);
}

.navbar .navbar-content a {
    display: block;
    width: max-content;
    color: rgb(50, 50, 50);
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
}

.navbar .navbar-content a:hover {
    color: rgb(100, 100, 100);
    transform: translateX(10px);
    transition: all 0.2s ease-out;
}

.navbar .navbar-content a#logout {
    margin-left: 26px;
}

.navbar .navbar-content a i {
    color: rgb(100, 100, 100);
    margin-right: 10px;
}

.navbar .navbar-content a#logout i {
    margin-right: 0;
    margin-left: 10px;
}

.navbar .navbar-footer {
    margin-top: 25px;
    margin-bottom: 25px;
}

.navbar .navbar-footer p {
    color: rgb(100, 100, 100);
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.bg-dark {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.15s ease-out;
}

.bg-dark-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.15s ease-out;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(200, 200, 200);
    padding: 10px 0;
}

@keyframes color-01 {

    0% {
        background-color: rgb(255, 50, 50);
    }

    50% {
        background-color: rgb(50, 50, 255);
    }

    100% {
        background-color: rgb(255, 50, 50);
    }

}

footer span {
    width: 10px;
    height: 10px;
    background-color: rgb(100, 100, 100);
    margin-right: 10px;
    border-radius: 50%;
    animation: color-01 1s infinite;
    animation-timing-function: ease-in-out;
}

footer p {
    color: rgb(88, 88, 88);
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

/* Login */
.login-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.login-center {
    width: 500px;
    height: auto;
    background-color: rgb(200, 200, 200);
    box-shadow: 0 5px 10px rgb(0, 0, 0);
    padding: 75px 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 5px;
}

.login-center h1 {
    color: rgb(50, 50, 50);
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.login-center label {
    display: block;
    color: rgb(50, 50, 50);
    font-size: 15px;
    font-weight: 500;
}

.login-center input {
    display: block;
    width: 100%;
    background-color: rgb(250, 250, 250);
    padding: 10px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    outline: none;
}

.login-center input:focus {
    border-color: rgb(75, 75, 75);
}

.login-center p {
    color: rgb(75, 75, 75);
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 15px;
}

.login-center .button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 45px;
}

.login-center button {
    display: block;
    width: 100px;
    color: rgb(222, 222, 222);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
}

.login-center button#submit {
    background-color: rgb(50, 50, 255);
}

.login-center button#submit:hover {
    background-color: rgb(75, 75, 255);
    transition: all 0.15s ease-out;
}

.login-center button#reset {
    background-color: rgb(255, 50, 50);
}

.login-center button#reset:hover {
    background-color: rgb(255, 75, 75);
    transition: all 0.15s ease-out;
}

.password-salah {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 997;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.25s ease-out;
}

.password-salah-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.25s ease-out;
}

.password-salah .notif {
    background-color: rgb(250, 250, 250);
    padding: 25px;
    border-radius: 10px;
}

.password-salah p {
    color: rgb(50, 50, 50);
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.password-salah h6 {
    width: 100px;
    color: rgb(222, 222, 222);
    background-color: rgb(255, 50, 50);
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
}

.password-salah h6:hover {
    background-color: rgb(255, 75, 75);
}

/* Login Responsive (Media Query) */
@media (max-width: 600px) {

    .login-center {
        width: 80%;
    }

}

@media (max-width: 500px) {

    .login-center {
        width: 90%;
    }

}

@media (max-width: 375px) {

    .login-center {
        padding: 75px 25px;
    }

}

/* Slider */
.slider-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.slider-container .info {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.slider-container .info h1 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.slider-container .info p {
    width: 50%;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-out;
    width: 500%;
}

.slide {
    width: 100%;
    flex: 0 0 auto;
}

.slide img {
    width: 20%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    padding-top: 7px;
    border: none;
    border-radius: 25px;
    z-index: 9;
}

.prev-btn {
    left: 5%;
}

.next-btn {
    right: 5%;
}

/* Homepage First */
.content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateX(-25px);
    opacity: 0;
}

.content-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 1s ease-out;
}

.content a {
    width: 222px;
    display: block;
    color: rgb(75, 75, 75);
    background-color: rgb(175, 175, 175);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 15px 0;
    margin: 25px 0;
    border-radius: 10px;
}

.content a:hover {
    background-color: rgb(185, 185, 185);
    transition: all 0.25s ease-out;
}

/* HTML Form */
.html-form {
    margin: 75px 10px;
    font-size: 15px;
}

.html-form h1 {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.html-form input[type="text"],
.html-form input[type="email"],
.html-form select,
.html-form textarea {
    width: 250px;
    padding: 7px;
}

.html-form .button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    margin-top: 25px;
}

.html-form input[type="submit"],
.html-form input[type="reset"] {
    width: 100px;
    padding: 7px 0;
}

/* JavaScript Dasar */
.javascript-dasar {
    margin: 75px 10px;
    font-size: 15px;
}

.javascript-dasar h1 {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.javascript-dasar h2 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px;
}